* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main {
    background: #eee;
    border-radius: 5px;
    text-align: center;

    padding: 10px 5px 0px 5px;
}

.heading {
    margin-top: 32px;
}

.sub-heading {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 400;
}

.img-container {
    background: white;
    margin: 10px;

}

.img-wrapper {
    margin: 0 auto;

}
.caption {
    margin: 15px 0 5px 0;
}