* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main {
    background: #eee;
    border-radius: 5px;
    text-align: center;

    padding: 20px 5px 20px 5px;
}

.heading {
    margin-top: 32px;
}



.img-container {
    background: white;
    margin: 10px;
    padding: 10px;

}

.img-wrapper {
    margin: 0 auto;

}
.caption {
    margin: 15px 0 5px 0;
}

.detail-section {
    margin: 20px 0px;
}

.sub-heading {
    margin: 50px 0;
    font-size: 16px;
}

.inner-container {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

.item {
    margin: 16px 0px;
    text-align: left;
}